<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @realty.client %>
</p>

<p>
  <b>Client price:</b>
  <%= @realty.client_price %>
</p>

<p>
  <b>Sale price:</b>
  <%= @realty.sale_price %>
</p>

<p>
  <b>Constructed area:</b>
  <%= @realty.constructed_area %>
</p>

<p>
  <b>Total area:</b>
  <%= @realty.total_area %>
</p>

<p>
  <b>Terrain width:</b>
  <%= @realty.terrain_width %>
</p>

<p>
  <b>Terrain lenght:</b>
  <%= @realty.terrain_lenght %>
</p>

<p>
  <b>Dorms count:</b>
  <%= @realty.dorms_count %>
</p>

<p>
  <b>Suites count:</b>
  <%= @realty.suites_count %>
</p>

<p>
  <b>Bathroom count:</b>
  <%= @realty.bathroom_count %>
</p>

<p>
  <b>Floor number:</b>
  <%= @realty.floor_number %>
</p>

<p>
  <b>Building name:</b>
  <%= @realty.building_name %>
</p>

<p>
  <b>Date construction:</b>
  <%= @realty.date_construction %>
</p>

<p>
  <b>Garage count:</b>
  <%= @realty.garage_count %>
</p>

<p>
  <b>Description:</b>
  <%= @realty.description %>
</p>

<p>
  <b>Address:</b>
  <%= @realty.address %>
</p>

<p>
  <b>District:</b>
  <%= @realty.district %>
</p>

<p>
  <b>Cep:</b>
  <%= @realty.cep %>
</p>

<p>
  <b>Adjunt:</b>
  <%= @realty.adjunt %>
</p>

<p>
  <b>Reference:</b>
  <%= @realty.reference %>
</p>

<p>
  <b>Lat:</b>
  <%= @realty.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @realty.long %>
</p>

<p>
  <b>Realtypurpose:</b>
  <%= @realty.RealtyPurpose %>
</p>

<p>
  <b>Realtytype:</b>
  <%= @realty.RealtyType %>
</p>

<p>
  <b>Web show sell price:</b>
  <%= @realty.web_show_sell_price %>
</p>

<p>
  <b>Web show address:</b>
  <%= @realty.web_show_address %>
</p>


<%= link_to 'Edit', edit_realty_path(@realty) %> |
<%= link_to 'Back', realties_path %>
