<h1>Listing realty_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @realty_types.each do |realty_type| %>
  <tr>
    <td><%= realty_type.name %></td>
    <td><%= realty_type.description %></td>
    <td><%= link_to 'Show', realty_type %></td>
    <td><%= link_to 'Edit', edit_realty_type_path(realty_type) %></td>
    <td><%= link_to 'Destroy', realty_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realty type', new_realty_type_path %>
