<h1>Listing realty_purposes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @realty_purposes.each do |realty_purpose| %>
  <tr>
    <td><%= realty_purpose.name %></td>
    <td><%= realty_purpose.description %></td>
    <td><%= link_to 'Show', realty_purpose %></td>
    <td><%= link_to 'Edit', edit_realty_purpose_path(realty_purpose) %></td>
    <td><%= link_to 'Destroy', realty_purpose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Realty purpose', new_realty_purpose_path %>
